﻿<div id="content">
    <div class="row">
        <div class="large-6 large-push-3 columns">
            <h1>{{Title}}</h1>
            <form name="form" ng-model="meeting">
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Client
                            <select ng-model="meeting.ClientId" ng-options="client.Id as client.Name for client in clients | orderBy: 'Name'" name="Client" required></select>
                        </label>
                        <div ng-show="form.Client.$dirty && form.Client.$invalid">
                            <small class="error" ng-show="form.Client.$error.required">Client is required.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Meeting Reason
                            <select ng-model="meeting.Reason" ng-options="reason for reason in reasons" name="Reason" required></select>
                        </label>
                        <div ng-show="form.Reason.$dirty && form.Reason.$invalid">
                            <small class="error" ng-show="form.Reason.$error.required">Reason is required.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            At
                            <input type="datetime" date-time view="short" ng-model="meeting.At" name="At" required>
                        </label>
                        <div ng-show="form.At.$dirty && form.At.$invalid">
                            <small class="error" ng-show="form.At.$error.required">The time of the meeting is required.</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Save" class="button radius right" ng-click="saveMeeting(meeting)" ng-disabled="form.$invalid || isUnchanged(meeting)">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>