﻿<div id="page-meeting-list">

    <div id="content">

        <div class="row">
            <div class="small-6 large-3 columns">
                <input class="search" placeholder="Search" ng-model="search">
            </div>
            <div class="small-6 large-9 columns">
                <a href="#/meetings/add" class="button radius right">Add Meeting</a>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">

                <table class="small-12">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="sort('At')">At</a></th>
                            <th><a href="" ng-click="sort('Client.Name')">Client</a></th>
                            <th><a href="" ng-click="sort('Reason')">Reason</a></th>
                            <th><a href="" ng-click="sort('User.FirstName')">With</a></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!meetings.length">
                            <td colspan="4"><em>There are no meetings scheduled.</em></td>
                        </tr>
                        <tr ng-repeat="meeting in meetings | filter: search | orderBy: sortedBy.column: sortedBy.reverse">
                            <td><a href="#/meetings/{{meeting.Id}}">{{meeting.At | date: 'short'}}</a></td>
                            <td>{{meeting.Client.Name}}</td>
                            <td>{{meeting.Reason}}</td>
                            <td>{{meeting.User.FirstName}}</td>
                            <td>
                                <a href="" ng-click="deleteMeeting(meeting)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>