﻿<div id="content">
    <div class="row">
        <div class="large-6 large-push-3 columns">
            <h1>{{Title}}</h1>
            <form name="form" ng-model="client">
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Name
                            <input type="text" ng-model="client.Name" name="Name" required>
                        </label>
                        <div ng-show="form.Name.$dirty && form.Name.$invalid">
                            <small class="error" ng-show="form.Name.$error.required">Name is required.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Email
                            <input type="email" ng-model="client.Email" name="Email" required>
                        </label>
                        <div ng-show="form.Email.$dirty && form.Email.$invalid">
                            <small class="error" ng-show="form.Email.$error.required">Email is required.</small>
                            <small class="error" ng-show="form.Email.$error.email">Invalid email address.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Phone
                            <input type="text" ng-model="client.Phone" name="Phone" required ng-pattern="/\d{3}-\d{3}-\d{4}/">
                        </label>
                        <div ng-show="form.Phone.$dirty && form.Phone.$invalid">
                            <small class="error" ng-show="form.Phone.$error.required">Phone Number is required.</small>
                            <small class="error" ng-show="form.Phone.$error.pattern">Phone number is invalid.</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Save" class="button radius right" ng-click="saveClient(client)" ng-disabled="form.$invalid || isUnchanged(client)">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>