﻿<div id="page-client-list">

    <div id="content">

        <div class="row">
            <div class="small-6 large-3 columns">
                <input class="search" placeholder="Search" ng-model="search">
            </div>
            <div class="small-6 large-9 columns">
                <a href="#/clients/add" class="button radius right">Add Client</a>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">

                <table class="small-12">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="sort('Name')">Name</a></th>
                            <th><a href="" ng-click="sort('Email')">Email</a></th>
                            <th><a href="" ng-click="sort('Phone')">Phone</a></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!clients.length">
                            <td colspan="4"><em>There are no current clients.</em></td>
                        </tr>
                        <tr ng-repeat="client in clients | filter: search | orderBy: sortedBy.column: sortedBy.reverse">
                            <td><a href="#/clients/{{client.Id}}">{{client.Name}}</a></td>
                            <td>{{client.Email}}</td>
                            <td>{{client.Phone}}</td>
                            <td>
                                <a href="" ng-click="deleteClient(client)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
            </div>
        </div>

    </div>

</div>