﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic">

    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>@Html.ActionLink("Nearix Meetings", "Index", "Home", new { area = "" }, new { @class = "logo" })</h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            @Html.Partial("_LoginPartial")

            <ul class="left">
                <li>
                    <a href="#/clients">Clients</a>
                </li>
                <li>
                    <a href="#/meetings">Meetings</a>
                </li>
            </ul>
        </section>
    </nav>

    <section id="page">
        @RenderBody()
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @RenderSection("scripts", required: false)

    <script>
        $(document).foundation();
    </script>

</body>
</html>
