﻿<div id="page-dashboard">

    <div class="icon-bar-wrapper">

        <div class="row">

            <div class="small-12 columns">

                <div class="icon-bar two-up">
                    <a class="item" href="#/clients">
                        <img src="/Content/img/icon-clients.png">
                        <label>Clients</label>
                        <span>Add, update, and delete</span>
                    </a>
                    <a class="item" href="#/meetings">
                        <img src="/Content/img/icon-meetings.png">
                        <label>Meetings</label>
                        <span>Review, manage, and schedule</span>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <div id="content">

        <div class="row" data-equalizer>

            <div class="small-12 large-4 large-push-1 columns panel" data-equalizer-watch>
                <div class="row">
                    <div class="small-12 columns text-center">
                        Your Next Meeting
                        <hr>
                    </div>
                </div>
                <div ng-show="nextMeeting">
                    <div class="row">
                        <div class="small-12 columns text-center">
                            {{nextMeeting | date: 'MMMM d, yyyy'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns text-center large-value">
                            {{nextMeeting | date: 'h:mma'}}
                        </div>
                    </div>
                </div>

                <div ng-show="!nextMeeting">
                    <div class="row">
                        <div class="small-12 columns text-center">
                            You don't have any meetings scheduled. <a href="#/meetings">Get to work</a>!
                        </div>
                    </div>
                </div>
            </div>

            <div class="small-12 large-4 large-pull-1 columns panel" data-equalizer-watch>
                <div class="row">
                    <div class="small-12 columns text-center">
                        Stats
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns text-center">
                            
                        <div class="row">
                            <div class="small-2 columns">
                                <label>Clients</label>
                            </div>
                            <div class="small-2 columns">
                                {{stats.Clients}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-2 columns">
                                <label>Meetings</label>
                            </div>
                            <div class="small-2 columns">
                                {{stats.Meetings}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>