﻿body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: #efefef;
}

#content {
    padding-top: 10px;
}

#page-dashboard .icon-bar-wrapper,
#page-dashboard .icon-bar {
    /* we use the wrapper to get a 100% width background, but place the icons in our grid */
    background: #242424;
}

#page-dashboard .icon-bar > * img {
    width: 80px;
    height: 85px;

    margin-top: 15px;
    margin-bottom: 15px;
}

#page-dashboard .icon-bar > a label {
    font-size: 1.25rem;
}

#page-dashboard .icon-bar > a span {
    color: #a8a8a8;
}

#page-dashboard .icon-bar > *:hover {
    /* override the default link hover color, it's way too big */
    background-color: #242424;
}

#page-dashboard .large-value {
    font-size: 3rem;
}

#page-client-list .search,
#page-meeting-list .search {
    width: 100%;
    margin-top: .75rem;
}

