﻿@model NearixDemo.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div id="content">
    <div class="row">
	    <div class="large-6 large-offset-3 columns">
            <h1>@ViewBag.Title</h1>
		    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
		    {
			    @Html.AntiForgeryToken()
			    <!--<h4>Create a new account.</h4>-->
			    <hr />
			    @Html.ValidationSummary("", new { @class = "" })
                <div class="row">
                    <div class="large-6 columns">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName)
                    </div>
                    <div class="large-6 columns">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName)
                    </div>
                </div>
			    <div class="row">
				    <div class="large-12 columns">
					    @Html.LabelFor(m => m.Email, new { @class = "" })
					    @Html.TextBoxFor(m => m.Email, new { @class = "" })
				    </div>
			    </div>
			    <div class="row">
				    <div class="large-6 columns">
					    @Html.LabelFor(m => m.Password, new { @class = "" })
					    @Html.PasswordFor(m => m.Password, new { @class = "" })
				    </div>
				    <div class="large-6 columns">
					    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
					    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
				    </div>
			    </div>
			    <div class="form-group">
				    <div class="col-md-offset-2 col-md-10">
					    <input type="submit" class="button radius" value="Register" />
				    </div>
			    </div>
		    }
	    </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
